// Typography
$font-family: "Hanken Grotesk", serif;

// Colors
$primary-light-red: hsl(0, 100%, 67%);
$primary-orangey-yellow: hsl(39, 100%, 56%);
$primary-green-teal: hsl(166, 100%, 37%);
$primary-cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$gradient-light-slate-blue: hsl(252, 100%, 63%);
$gradient-light-royal-blue: hsl(241, 81%, 54%);
$gradient-violet-blue-circle: hsla(256, 71%, 46%, 1);
$gradient-persian-blue-circle: hsla(241, 71%, 46%, 0);

// Neutrals
$neutral-white: hsl(0, 0%, 100%);
$neutral-pale-blue: hsl(220, 100%, 96%);
$neutral-light-lavender: hsl(241, 100%, 89%);
$neutral-dark-gray-blue: hsl(224, 30%, 27%);


// font weights
$fw-500: 500;
$fw-700: 700;
$fw-800: 800;

// shadows
$card-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);

// border-radius
$card-radius: 2rem;

// typography
$line-height: 1.3;
$fs-small: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
$fs-medium: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
$fs-large: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
$fs-xlarge: clamp(3.5rem, 3.1479rem + 1.5023vw, 4.5rem);

// spacing
$card-padding-block: clamp(1.5rem, 1.1919rem + 1.3146vw, 2.375rem) clamp(2.5rem, 2.368rem + 0.5634vw, 2.875rem);
$card-padding-inline: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
$score-margin-block: clamp(1.5rem, 1.2579rem + 1.0329vw, 2.1875rem) clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem);
$results-margin-block: clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem) clamp(1.5rem, 1.1259rem + 1.5962vw, 2.5625rem);
$gap-1: clamp(0.5rem, 0.368rem + 0.5634vw, 0.875rem)