@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/placeholder';

.card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 600px;
	background-color: $white;
	border-radius: $card-radius;
	box-shadow: $card-shadow;
	margin-inline: auto;
	padding: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);

	&__heading {
		display: flex;
		align-items: center;
		gap: 24px;

		h1 {
			@extend %heading-1;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: clamp(2.5625rem, 2.3864rem + 0.7512vw, 3.0625rem);

		&-item {
			position: relative;
			display: flex;
			flex-direction: column;

			summary {
				list-style: none;
				appearance: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 8px;

				&::after {
					content: "";
					width: 30px; // Adjust the size as needed
					height: 30px;
					background-image: url('@/assets/images/icon-plus.svg'); // Icon for collapsed state
					background-size: contain;
					background-repeat: no-repeat;
				}

				span {
					@extend %heading-2
				}
			}

			&[open] {
				summary {
					margin-block-end: 24px;

					&::after {
						background-image: url('@/assets/images/icon-minus.svg');
					}
				}

				p {
					@extend %text;
				}
			}
		}
	}
}